@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    display: flex;
    align-items: center;
    background: url(https://media.istockphoto.com/id/1500040018/video/roe-deer-in-the-forest.jpg?s=640x640&k=20&c=OoyScLMWNwP7YzFndLXKuJl7d6GBmLOl22PQDoNfyzY=) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 30px;
    color: #fff;
    user-select: none;
}

.nav a{
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}



.nav a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.nav a:hover{
    color: grey;
}


